.App {
  margin: 40px 30px;
}

.upload-input {
  display: inline-block;
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 50px;
  top: 0;
  left: 0;
  opacity: 0;
  cursor: pointer;
}

.upload-container {
  margin: 20px auto;
}

.upload-container label.upload-label {
  position: relative;
  z-index: 0;
  display: inline-block;
  background: #c8d5b9;
  cursor: pointer;
  color: #444444;
  padding: 10px 20px;
  border-radius: 4px;
  text-transform: capitalize;
  font-size: 14px;
}
